body {
    font-family: Arial;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 350px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    text-align: center;
}

input {
    width: 80%;
    padding: 10px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.error {
    color: red;
}
